{{!-- <div class="text-center">
  <h2>{{name}}</h2>

  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
    <button class="btn btn-primary">Resolve this ticket!</button>
  </p>
</div> --}}



<div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-300 bg-opacity-40">
 <div class="px-6 py-4">
    <h1 id="post-title" class="font-bold text-xl mb-2">{{name}} </h1>
     <p id="post-body" class="text-gray-900 text-base"> Priority:{{priority}}</p>
    <h4 class="text-gray-700 text-base">Posted by {{user.name}} on {{format_date date_created}}</h4>
    <div class="container">
        <p id="post-body" class="text-black-700 text-base">{{description}} </p>
       <p id="post-body" class="text-gray-700 text-base">Contact Info: Call at {{phone}} or Email at {{user.email}}</p>
       
       </div>
    </div>

